html {
  font-family: "Raleway", sans-serif;
  font-weight: 500;

}
body {
  margin: 0;
  padding: 0;
  
}
.header {


}
.header-container {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E1EDE6;
    height: 100px;
    
}
.header-left {

}
.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding-left: 803px;
  padding-right: 165px;
}
.header-right a {
  text-decoration: none;
  color: #2C2D35;
  size: 20px;
  
}
.header-right:hover a {
  text-decoration: none;
  color: #598D66;
  size: 20px;
  
}
.logo-container {
  display: flex;
  
  align-items: center;
  gap: 8px;
  padding-left: 165px;
}
.logo-text {
  color: #598D66;
  font-weight: 700;
  size: 20px;

}
.hero {
  display: flex;
  flex-direction: column;
  position: relative; /*чтобы можно было выставить картинку к вверху отдельно от текста*/
  padding: 0 165px;
  min-height: 621px;
}
.hero-text {
  padding-top: 145px;
  padding-left: 735px;
  width: 540px; height: 132px;
}
.hero img {
  position: absolute;
  top: 0;
}
.hero h1 {
  font-weight: 500px;
  font-size: 60px;
}
.hero-text p {
  color: #86928B;

}
.catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 165px;
}
.catalog h2 {
  font-size: 40px;
  width: 255px;
  height: 44px;
}
.catalog-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.catalog-nav {
  width: 433px;
  height: 43px;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.catalog-nav button {
  width: 126px;
  height: 43px;
  background-color: #D4E8D9;
  color: #2C2D35;
  border-radius: 20px;
  border: none;
  font-size: 20px;
}
.catalog-nav button:hover {
  background-color: #376B44;
  color: white;
}
.footer {
  background-color: #E1EDE6;
  height: 168px;
}