html {
  font-family: "Raleway", sans-serif;
  font-weight: 500;

}
body {
  margin: 0;
  padding: 0;
  
}
button {
  border-color: #598D66;
  border-width: 1px;
  border-radius: 0%;
  padding: 20px 60px;
  background-color: rgba(255, 255, 255, 0);
  color: #598D66;
  font-weight: 500;
  font-size: 20px;
  transition: 0.3s;
  
}
button:hover{
  background-color: #598D66;
  color: #F4F6F5;
}
.container{
  width: 100%;
  max-width: 1125px;
  margin: 0 auto;
  padding: 0 220px;

}
.header {
 display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #E1EDE6;
    height: 100px;
    

}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {

}
.header-right {
   
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  gap: 60px;
}
.header-right a {
  text-decoration: none;
  color: #2C2D35;
  size: 20px;
  transition: 0.3s;
  
}
.header-right:hover a {
  text-decoration: none;
  color: #598D66;
  size: 20px;
  
}
.logo-container {
  display: flex;
  
  align-items: center;
  gap: 8px;
  /*
  padding-left: 165px;*/
}
.logo-text {
  color: #598D66;
  font-weight: 700;
  size: 20px;

}

.hero {
  display: flex;
  flex-direction: column;
  position: relative; /*чтобы можно было выставить картинку к вверху отдельно от текста*/
  padding: 0 165px;
  min-height: 621px;
}
.hero-text {
  padding-top: 99px;
  padding-left: 607px;
  width: 540px;
  height: 132px;
}
.hero-text button{
  
  margin-top: 60px;
}
.hero img {
  position: absolute;
  top: 0;
}
.hero h1 {
  font-weight: 500px;
  font-size: 60px;
}
.hero-text p {
  color: #86928B;

}
.catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog h2 {
  font-size: 40px;
  width: 255px;
  height: 44px;
}
.catalog-top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.catalog-nav {
  width: 433px;
  height: 43px;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.catalog-nav button {
  
  width: 126px;
  height: 43px;
  padding: 0 0;
  background-color: #D4E8D9;
  color: #2C2D35;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  
}
.catalog-nav button:hover {
  background-color: #376B44;
  color: white;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 20px;
  background-color: #E1EDE6;
  color: #2C2D35;
}
.card button {
  width: 100%;
  margin: 10px 0;
}
.card-author {
  color: #86928B;
  margin: 10px 0;
}

.card h3 {
  margin: 0%;
  margin-right: 50%;
  font-size: 30px;
  width: 100%;
  margin: 10px 0;
}
.price {
  color: #598D66;
  font-size: 24px;
  margin: 10px 0;
  margin-top: 20px;
}
.card img {
  width: 310px;
  height: 422px;
  display: block;
  align-self: center;
}

.card button {
  align-self: center;
}
.footer {
  background-color: #E1EDE6;
  height: 168px;
}
.card-container-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0 70px;
  gap: 30px;
}
.card-container {
display: flex;
justify-content: space-between;
/*justify-content: center;
gap: 30px;*/
}
.france {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.promo {
  background-image:
      linear-gradient(to right,rgba(0, 0, 0, 0.7), rgba(0, 0, 0, -1)),
      url(../images/Rectangle.png);
  background-position: center;
  background-size: 1870px;
  height: 574px;
  color: #F4F6F5;
}
.promo p {
  font-size: 18px;
  line-height: 150%;
}
.promo h2 {
  font-size: 40px;
 
}
.promo button {
  color: #2C2D35;
  background-color: #EEDB6D;
  border: none;
}
.promo-content {
  padding: 70px 0;
  width: 540px;
}

.team-content {
  position: absolute;
  left: 871px;
  top: 2977px;
  width: 608px;
}
.team-content h2 {
  font-size: 40px;
  color: #2C2D35;
}
.team-content p {
  font-size: 18px;    
  line-height: 150%;
  color: #2C2D35;
}
.team {
  height: 600px;
}
.hand {
  position: absolute;
  left: 417px;
  top: 2903px;
}
.frame {
  position: absolute;
  right: center;
  top: 2983px;
}
.footer .container {
  padding-top: 50px;
}